{{define "header"}}
<header>
    <div class="title">
         <h2>Forward Omni</h2>
    </div>
    <div class="r-content">
        <a href="mailto:contact@forwardomni.com">Contact</a>
    </div>
</header>
{{end}}